In [1]:
import pandas as pd

In [23]:
df = pd.read_csv("../artifacts/data_ingestion/train.csv")

In [24]:
df = df.drop('Loan_ID', axis=1)

In [25]:
df_categorical = df.select_dtypes('O')

In [26]:
df_categorical.isnull().sum()

Gender           13
Married           3
Dependents       15
Education         0
Self_Employed    32
Property_Area     0
Loan_Status       0
dtype: int64

In [27]:
df_categorical = df.select_dtypes('O')
df[df_categorical.columns] = df[df_categorical.columns].fillna(df[df_categorical.columns].mode().iloc[0])

In [28]:
df = df.fillna(df.median(numeric_only=True))

In [29]:
df['Loan_Status'] =df['Loan_Status'].replace(['Y', 'N'], [1, 0])
df

,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,Male,No,0,Graduate,No,5849,0.0,128.0,360.0,1.0,Urban,1
1,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,0
2,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,1
3,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,1
4,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,1
...,...,...,...,...,...,...,...,...,...,...,...,...
609,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,1
610,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,1
611,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,1
612,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,1
613,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,0

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
on = OneHotEncoder()
df = on.fit_transform(df)
df

<614x1024 sparse matrix of type '<class 'numpy.float64'>'
	with 7368 stored elements in Compressed Sparse Row format>

In [1]:
genders_to_int = {'MALE':1,
                  'FEMALE':0}

In [2]:
genders_type = 'MALE'

In [3]:
output_dict= dict()
output_dict['Gender'] = genders_type

In [4]:
output_dict

{'Gender': 'MALE'}

In [7]:
temp = pd.DataFrame(index=[1])

In [8]:
temp

Empty DataFrame
Columns: []
Index: [1]

In [9]:
 temp['genders_type'] = genders_to_int[genders_type.upper()]

In [10]:
temp

   genders_type
1             1

In [23]:
selfemployed = 'Yes'

In [24]:
if selfemployed == 'Yes':
    se_n = 0
    se_y = 1
else:
    se_n = 1
    se_y = 0

In [2]:
import numpy as np

In [3]:
dependents = '3+'

In [4]:
dep = dependents
dp = np.zeros(4)
if dep == '1':
    dp[1] = int(1)
elif dep == '2':
    dp[2] = 1
elif dep == '3+':
    dp[3] = 1
else:
    dp[0] = 1

In [5]:
dp[1]

0.0

In [6]:
temp = pd.DataFrame(index=[1])

In [7]:
temp['dependents_0'] = int(dp[0])
temp['dependents_1'] = int(dp[1])
temp['dependents_2'] = int(dp[2])
temp['dependents_3+'] = int(dp[3])

In [8]:
temp

   dependents_0  dependents_1  dependents_2  dependents_3+
1             0             0             0              1

In [9]:
app =222
temp['app'] = app
temp

   dependents_0  dependents_1  dependents_2  dependents_3+  app
1             0             0             0              1  222

In [10]:
credithistory = "No"
if credithistory == "Yes":
    credithistory = 1.0
else:
     credithistory = 0.0

In [11]:
credithistory

0.0

In [12]:
gender = 'Male'

In [13]:
if gender == "Female":
    g_f = 1
    g_m = 0
else:
    g_f = 0
    g_m = 1

In [14]:
temp['Gender_female'] = g_f
temp['Gender_male'] = g_m

In [15]:
temp

,dependents_0,dependents_1,dependents_2,dependents_3+,app,Gender_female,Gender_male
1,0,0,0,1,222,0,1

In [16]:
import joblib

In [17]:
scaler = joblib.load("scaler.pkl")

In [21]:
a = [2222, 0.0, 128, 360, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1]
df3 = pd.DataFrame(a)

In [43]:
df_temp = pd.DataFrame(index=[1])
df_temp['ApplicantIncome'] = 56000
df_temp['CoapplicantIncome'] = 0
df_temp['LoanAmount'] = 1255
df_temp['Loan_Amount_Term'] = 120
df_temp['Credit_History'] = 1
df_temp['Gender_Female'] = 0
df_temp['Gender_Male'] = 1
df_temp['Married_No'] = 1
df_temp['Married_Yes'] = 0
df_temp['Dependents_0'] = 1
df_temp['Dependents_1'] = 0
df_temp['Dependents_2'] = 0
df_temp['Dependents_3+'] = 0
df_temp['Education_Graduate'] = 1
df_temp['Education_Not Graduate'] = 0
df_temp['Self_Employed_No'] = 1
df_temp['Self_Employed_Yes'] = 0
df_temp['Property_Area_Rural'] = 0
df_temp['Property_Area_Semiurban'] = 0
df_temp['Property_Area_Urban'] = 1

In [44]:
df_temp

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Female,Gender_Male,Married_No,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Dependents_3+,Education_Graduate,Education_Not Graduate,Self_Employed_No,Self_Employed_Yes,Property_Area_Rural,Property_Area_Semiurban,Property_Area_Urban
1,56000,0,1255,120,1,0,1,1,0,1,0,0,0,1,0,1,0,0,0,1

In [45]:
aa = scaler.transform(df_temp)
aa

array([[ 8.10366873, -0.53086177, 13.09446466, -3.71168888,  0.59418971,
        -0.54814437,  0.41303316,  1.16796646, -1.47814264,  0.68771316,
        -0.49109721, -0.47804795, -0.33245498,  0.46867172, -0.62302319,
         0.33464826, -0.44211698, -0.76581079, -0.81932114,  1.20560706]])

In [46]:
model = joblib.load('../artifacts/training/model.pkl')

In [47]:
model.predict(aa)

c:\work-projects2\Forest-Cover-Type-Prediction\env\lib\site-packages\sklearn\base.py:439: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

array([1], dtype=int64)